#loginPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#loginPage form {
    display: flex;
    flex-direction: column;
}

#loginPage h2 {
    padding: .6rem;
    font-size: 1.2rem;
    color: #153B50;
}

#loginPage form > * {
    margin: .15rem;
}

#loginPage .btn {
    background: #206980;
    color: #FFF;
    transition: background 0.2s;
}

#loginPage .btn:hover {
    background: #153B50;
}

#loginPage .spin {
    animation: spin 2s infinite linear;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }