#detailedSpentPage {
    padding: .5rem 1.5rem;
    flex: 1;
    display: flex;
}

#detailedSpentPage .col {
    margin-right: 2rem;
}

#detailedSpentPage .block {
    border-radius: .5rem;
    background: #FFF;
    padding: .5rem;
    margin-bottom: 2rem;
}

#detailedSpentPage table {
    border-collapse: collapse;
}

#detailedSpentPage td {
    padding: .3rem;
    padding-right: 2rem;
    border: 1px solid #CCC;
}

#detailedSpentPage td:nth-child(1) {
    font-weight: bold;
}

#detailedSpentPage .del {
    border: none;
    background: darkred;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

#detailedSpentPage .del:hover {
    background: rgb(97, 0, 0);
}

#detailedSpentPage .del span {
    margin-left: .5rem;
}