#newSpentPage {
    padding: .5rem 1.5rem;
}

#newSpentPage h2 {
    color: #153B50;
    padding: 1rem;
}

#newSpentPage form {
    background: #FFF;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
}

#newSpentPage form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#newSpentPage form > div:nth-child(2) {
    margin-left: 2rem;
}

#newSpentPage .btn {
    background: #206980;
    color: #FFF;
}

#newSpentPage .btn:hover {
    background: #153B50;
}