.input {
    border-radius: 0.5rem;
    border: 2px solid #ccc;
    padding: 0.4rem;
    font-size: 1rem;
    outline: none;
}

.inputBlock {
    display: flex;
    flex-direction: column;
}

.inputBlock label {
    padding: .1rem .6rem;
    color: #153B50;
    font-weight: bold;
}