#payersPage {
    padding: .5rem 1.5rem;
    flex: 1;
}

#payersPage h2 {
    color: #153B50;
    padding: 1rem 0 0 1rem;
}

#payersPage form {
    padding: 1rem;
    display: flex;
}

#payersPage form button {
    background: #206980;
    color: #FFF;
    margin-left: 1rem;
}

#payersPage form button:hover {
    background: #153B50;
}

#payersPage table {
    background: #FFF;
    border-radius: .5rem;
    width: 100%;
    border-collapse: separate;
    padding: 1rem;
}

#payersPage td, #payersPage th {
    padding: .4rem;
}

#payersPage th:nth-child(1) {
    text-align: start;
}

#payersPage td:nth-child(2), #payersPage td:nth-child(3), #payersPage th:nth-child(2) {
    text-align: end;
}

#payersPage td button.del {
    border: none;
    background: darkred;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

#payersPage td button.del:hover {
    background: rgb(97, 0, 0);
}